@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header .header {
  display: grid;
  grid-template-columns: 160px 1fr 320px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  box-sizing: border-box;
  gap: 20px;
  width: 100%;
  top: 0;
  z-index: 3;
  background-color: rgb(31, 143, 145);
  opacity: 0.8;
}
header .header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header .header .logo .logo_img {
  width: 160px;
  height: auto;
  max-height: 100px;
}
header .header .logo_text p {
  font-size: calc(14px + 6 * ((100vw - 320px) / 1080));
  font-weight: 600;
}
header .header .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
header .header .user .sign-out {
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: 600;
  border-color: rgb(111, 187, 189);
  font-size: calc(14px + 6 * ((100vw - 320px) / 1080));
}
header .header .user .sign-out:hover {
  background-color: rgb(225, 93, 111);
}
header .header .user svg {
  width: 42px;
  height: 50px;
}
header .header .user span {
  font-size: calc(14px + 6 * ((100vw - 320px) / 1080));
  font-weight: 500;
}

@media (max-width: 860px) {
  header .header {
    grid-template-columns: 160px 1fr;
    grid-template-areas: "logo text" "user user";
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 10px;
  }
  header .header .logo {
    grid-area: logo;
  }
  header .header .logo_text {
    grid-area: text;
  }
  header .header .user {
    grid-area: user;
    justify-content: flex-end;
  }
}
footer {
  background-color: rgb(31, 143, 145);
  opacity: 0.8;
  padding: 20px 0;
}
footer .footer-wrapper {
  position: relative;
  margin-bottom: 40px;
}
footer .footer-wrapper .footer-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
footer .footer-wrapper .footer-content .logo_img {
  width: 160px;
  height: auto;
  max-height: 100px;
}
footer .footer-wrapper .footer-content .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .footer-wrapper .footer-content .social button {
  border-radius: 50%;
  border: 1px solid black;
  background-color: unset;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-wrapper .footer-content .social button:hover {
  border: 1px solid #fff;
}
footer .footer-wrapper .footer-content .social button svg {
  width: 20px;
  height: 20px;
  fill: black;
}
footer .footer-wrapper .footer-content .social button svg:hover {
  fill: #fff;
}
footer .footer-copyright {
  color: black;
  font-size: calc(10px + 5 * ((100vw - 320px) / 1080));
  font-weight: 600;
  display: flex;
  justify-content: center;
  gap: 5px;
}
footer .footer-copyright a {
  color: black;
  text-decoration: none;
}
footer .footer-copyright a:hover {
  color: #fff;
}

@media (max-width: 380px) {
  footer .footer-wrapper .footer-content {
    flex-direction: column;
    gap: 20px;
  }
  footer .footer-copyright {
    gap: 20px;
  }
  footer .footer-copyright .right {
    max-width: 140px;
  }
}
.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error .login_header {
  align-self: flex-start;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 20px;
  margin-bottom: 50px;
  width: 100%;
  font-weight: 700;
  background-color: rgb(31, 143, 145);
}
.error img {
  width: 70%;
}
.error h1 {
  font-size: calc(45px + 35 * ((100vw - 320px) / 1080));
  font-weight: 700;
  line-height: 1.2;
  color: rgb(31, 143, 145);
  margin: 10px;
}
.error p {
  color: #000;
  font-weight: 700;
  line-height: 1.2;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1080));
}
.error a {
  margin-top: 15px;
  white-space: nowrap;
  text-decoration: none;
}
.error a button {
  padding: 0px 30px;
  font-size: 16px;
  height: 50px;
  background: transparent;
  border: 1px solid #b4b4b4;
  font-weight: 500;
  border-radius: 10px;
  background-color: rgb(174, 203, 193);
}
.error a button:hover {
  background-color: rgb(225, 93, 111);
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 30px 0 100px;
}
.login_form .login_header {
  align-self: flex-start;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 20px;
  margin-bottom: 50px;
  width: 100%;
  font-weight: 700;
  background-color: rgb(31, 143, 145);
}
.login_form .user_login {
  border-radius: 5px;
  border: 1px solid black;
  width: 160px;
  height: 148px;
  display: flex;
  padding-top: 12px;
}
.login_form .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  gap: 20px;
  width: 100%;
}
.login_form .form label {
  font-weight: 600;
  font-size: calc(15px + 5 * ((100vw - 320px) / 1080));
}
.login_form .form input {
  width: 100%;
  max-width: 200px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  padding: 0;
}
.login_form .form .login_submit {
  width: 100%;
  max-width: 200px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  padding: 0;
  background-color: rgb(174, 203, 193);
  font-weight: 600;
}
.login_form .form .login_submit:hover {
  background-color: rgb(225, 93, 111);
}
.login_form .form small {
  color: red;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1080));
  align-self: center;
}

@media (max-width: 320px) {
  .login_form {
    padding: 0;
  }
  .login_form .user_login {
    width: 200px;
    height: 188px;
  }
  .login_form .form input {
    max-width: calc(100% - 8px);
  }
  .login_form .form .login_submit {
    max-width: calc(100% - 8px);
  }
}
.bucket_wrapper {
  margin: 0 auto;
  box-sizing: border-box;
}
.bucket_wrapper .btn_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bucket_wrapper .btn_wrapper a {
  text-decoration: none;
}
.bucket_wrapper .btn_wrapper .btn_purchase, .bucket_wrapper .btn_wrapper .btn_to_books {
  display: block;
  margin: 20px;
  padding: 10px 15px;
  font-weight: 600;
  border-radius: 5px;
  background-color: rgb(174, 203, 193);
  font-size: calc(14px + 6 * ((100vw - 320px) / 1080));
}
.bucket_wrapper .btn_wrapper .btn_purchase:hover, .bucket_wrapper .btn_wrapper .btn_to_books:hover {
  background-color: rgb(225, 93, 111);
}
.bucket_wrapper .empty_bucket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.bucket_wrapper .empty_bucket svg {
  fill: rgb(122, 118, 118);
  width: 80px;
  height: auto;
}
.bucket_wrapper .empty_bucket p {
  font-size: calc(14px + 6 * ((100vw - 320px) / 1080));
  font-weight: 600;
}
.bucket_wrapper .no_empty_bucket {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  border: 1px solid black;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1080));
}
.bucket_wrapper .no_empty_bucket .book_add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding: 15px;
}
.bucket_wrapper .no_empty_bucket .book_add h3 {
  width: 60%;
}
.bucket_wrapper .no_empty_bucket .book_add span {
  width: 20%;
}
.bucket_wrapper .no_empty_bucket .book_add p {
  width: 20%;
}
.bucket_wrapper .no_empty_bucket .btn_remove {
  display: block;
}
.bucket_wrapper .no_empty_bucket .btn_remove:hover {
  background-color: rgb(174, 203, 193);
}
.bucket_wrapper .total_price {
  display: block;
  float: right;
  padding-top: 20px;
  font-weight: 600;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1080));
}

@media (max-width: 405px) {
  .bucket_wrapper .no_empty_bucket .book_add {
    flex-direction: column;
    align-items: flex-start;
  }
  .bucket_wrapper .no_empty_bucket .book_add h3 {
    width: 100%;
  }
  .bucket_wrapper .no_empty_bucket .book_add span {
    width: 100%;
  }
  .bucket_wrapper .no_empty_bucket .book_add p {
    width: 100%;
  }
  .bucket_wrapper .btn_wrapper .btn_purchase, .to_book {
    padding: 10px;
    margin: 20px 10px;
  }
}
h2 {
  font-size: calc(17px + 9 * ((100vw - 320px) / 1080));
  font-weight: 600;
  text-align: center;
  padding: 20px 0;
}

.select_books {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-weight: 600;
  font-size: calc(16px + 6 * ((100vw - 320px) / 1080));
}
.select_books select {
  height: 40px;
}

.books_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;
  gap: 25px;
}
.books_wrapper .book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.books_wrapper .book .img_wrapper img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 2px solid rgb(31, 143, 145);
}
.books_wrapper .book .img_wrapper .default-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 360px;
}
.books_wrapper .book p {
  font-size: calc(14px + 6 * ((100vw - 320px) / 1080));
  font-weight: 600;
  padding: 20px 0;
}
.books_wrapper .book .btn_list {
  width: 100%;
  border-radius: 5px;
  padding: 5px 0;
  background-color: rgb(174, 203, 193);
  font-weight: 600;
  height: 40px;
}
.books_wrapper .book .btn_list:hover {
  background-color: rgb(225, 93, 111);
}

@media (max-width: 1000px) {
  .books_wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .books_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 390px) {
  .books_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.book_wrapper {
  margin: 40px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.book_wrapper .book_cover {
  width: 100%;
  max-width: 400px;
  max-height: 500px;
  height: auto;
  border-radius: 20px;
  border: 2px solid rgb(31, 143, 145);
}
.book_wrapper .book_about_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1.2;
}
.book_wrapper .book_about_wrapper .book_about {
  display: inline;
  font-size: calc(15px + 5 * ((100vw - 320px) / 1080));
}
.book_wrapper .book_about_wrapper .book_about h4 {
  float: left;
  font-weight: 600;
  padding-right: 10px;
}
.book_wrapper .book_about_wrapper .book_about p {
  float: left;
  color: rgb(31, 143, 145);
  font-weight: 700;
}
.book_wrapper .book_about_price {
  border: 2px dotted rgb(23, 19, 19);
  height: fit-content;
  padding: 20px 15px;
  line-height: 50px;
}
.book_wrapper .book_about_price .about_price {
  display: flex;
  justify-content: space-between;
}
.book_wrapper .book_about_price .about_price h4 {
  font-weight: 600;
  padding-right: 10px;
  font-size: calc(15px + 5 * ((100vw - 320px) / 1080));
}
.book_wrapper .book_about_price .about_price p {
  font-weight: 600;
  padding-right: 10px;
}
.book_wrapper .book_about_price .about_price input[type=number] {
  width: 80px;
  border-radius: 15px;
  text-align: center;
  font-weight: 400;
  padding: 10px 5px;
}
.book_wrapper .book_about_price .about_price .number-wrapper {
  position: relative;
}
.book_wrapper .book_about_price .about_price .number-wrapper:after,
.book_wrapper .book_about_price .about_price .number-wrapper:before {
  position: absolute;
  right: 5px;
  width: 1.6em;
  height: 0.9em;
  font-size: 10px;
  pointer-events: none;
  background: #fff;
}
.book_wrapper .book_about_price .about_price .number-wrapper:after {
  color: blue;
  content: "▲";
  margin-top: 1px;
  line-height: 3;
}
.book_wrapper .book_about_price .about_price .number-wrapper:before {
  color: red;
  content: "▼";
  bottom: 10px;
  line-height: 0;
}
.book_wrapper .add_to_card {
  float: right;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 15px;
  background-color: rgb(174, 203, 193);
}
.book_wrapper .add_to_card:hover {
  background-color: rgb(225, 93, 111);
}
.book_wrapper .number-wrapper input[type=number]::-webkit-inner-spin-button,
.book_wrapper .number-wrapper input[type=number]::-webkit-outer-spin-button {
  opacity: 0;
}

.book_description {
  margin: 40px 30px;
}
.book_description h4 {
  font-family: "Montserrat", "sans-serif";
  font-style: normal;
  font-weight: 600;
}
.book_description p {
  width: 100%;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1080));
  padding: 10px 0;
  max-height: 300px;
  overflow: auto;
  line-height: 1.2;
}
.book_description .to_books {
  display: block;
  float: left;
  margin: 20px;
  padding: 10px 15px;
  font-weight: 600;
  border-radius: 5px;
  background-color: rgb(155, 149, 149);
}
.book_description .to_books:hover {
  background-color: rgb(225, 93, 111);
}

@media (max-width: 768px) {
  .book_wrapper {
    grid-template-areas: "img price" "about about";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
  }
  .book_wrapper .book_about_wrapper {
    grid-area: about;
  }
  .book_wrapper .book_cover {
    grid-area: img;
  }
  .book_wrapper .book_about_price {
    grid-area: price;
  }
}
@media (max-width: 493px) {
  .book_wrapper {
    grid-template-areas: "img" "price" "about";
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto;
  }
}
body {
  font-family: "Montserrat", sans-serif;
}
body:hover {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  padding: 0 15px;
  box-sizing: border-box;
}

main {
  padding: 10px 20px 50px;
}

.day-night {
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.light {
  background-color: rgb(240, 233, 233);
}

.dark {
  background-color: rgba(9, 0, 0, 0.7);
  color: white;
}

.mode {
  position: relative;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1080));
  gap: 10px;
  padding: 5px;
  margin-bottom: 10px;
}
.mode button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 46px;
  height: 42px;
  padding: 0;
  border-radius: 5px;
}
.mode button .svg {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/*# sourceMappingURL=style.css.map */
