@use "./mixins";

.basket_wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  .btn_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    a {
      text-decoration: none;
    }
    .btn_purchase, .btn_to_books {
      display: block;
      margin: 20px;
      padding: 10px 15px;
      font-weight: 600;
      border-radius: 5px;
      background-color: rgb(174, 203, 193);
      @include mixins.adaptiv-font(20, 14);
      &:hover {
        background-color: rgb(225, 93, 111);
      }
    }
  }
  .empty_basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .empty_basket_img {
      fill: rgb(122, 118, 118);
      width: 80px;
      height: auto;
    }
    p {
      @include mixins.adaptiv-font(20, 14);
      font-weight: 600;
    }
  }
  .no_empty_basket {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    @include mixins.adaptiv-font(20, 14);
    .book_add {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      width: 100%;
      padding: 15px;
      border: 1px solid black;
      h3 {
        width: 45%;
        font-weight: 700;
      }
      span {
        width: 20%;
      }
      p {
        width: 30%;
      }
    }
    .btn_remove {
      display: block;
      &:hover {
        background-color: rgb(174, 203, 193);
      }
    }
  }
  .total_price {
    display: block;
    float: right;
    padding-top: 20px;
    font-weight: 600;
    @include mixins.adaptiv-font(20, 14);
    padding-right: 20px;
  }
}
@media (max-width: 425px) {
  .basket_wrapper .no_empty_basket .book_add {
    flex-direction: column;
    align-items: flex-start;
    h3 {
      width: 100%;
    }
    span {
      width: 100%;
    }
    p {
      width: 100%;
    }
  }
  .basket_wrapper .btn_wrapper .btn_purchase, .btn_to_books {
    padding: 10px;
    margin: 20px 10px;
  }
}