@use "./mixins";

.book_wrapper {
  margin: 40px 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  .book_cover {
    width: 100%;
    max-width: 400px;
    max-height: 500px;
    height: auto;
    border-radius: 20px; 
    border: 2px solid rgb(31, 143, 145);
  }
  .book_about_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 1.2;
    .book_about {
      display: inline;
      @include mixins.adaptiv-font(20, 15);
      h4 {
        float: left;
        font-weight: 600;
        padding-right: 10px;
      }
      p {
        float: left;
        color: rgb(31, 143, 145);
        font-weight: 700;
      }
    }
  }
  .book_about_price {
    border: 2px dotted rgb(23, 19, 19);
    height: fit-content;
    padding: 20px 15px;
    line-height: 50px;
    .about_price {
      display: flex;
      justify-content: space-between;
      h4 {
        font-weight: 600;
        padding-right: 10px;
        @include mixins.adaptiv-font(20, 15);
      }
      p {
        font-weight: 600;
        padding-right: 10px;
      }
    }
  }
  .book_about_price .about_price input[type=number] {
    width: 80px;
    border-radius: 15px;
    text-align: center;
    font-weight: 400;
    padding: 10px 5px;
  }
  .book_about_price .about_price .number-wrapper {
    position: relative;
  }

  .book_about_price .about_price .number-wrapper:after,
  .book_about_price .about_price .number-wrapper:before {
    position: absolute;
    right: 5px;
    width: 1.6em;
    height: .9em;
    font-size: 10px;
    pointer-events: none;
    background: #fff;
  }

  .book_about_price .about_price .number-wrapper:after {
    color: blue;
    content: "\25B2";
    top: 8px;
    line-height: 2;
    border-radius: 10px;
  }

  .book_about_price .about_price .number-wrapper:before {
    color: red;
    content: "\25BC";
    bottom: 8px;
    line-height: 0;
    border-radius: 10px;
  }
  .add_to_card {
    float: right;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 15px;
    background-color: rgb(174, 203, 193);
    &:hover {
      background-color: rgb(225, 93, 111);
    }
  }
  .number-wrapper input[type=number]::-webkit-inner-spin-button, 
  .number-wrapper input[type=number]::-webkit-outer-spin-button {  
    opacity: 0;
  }
}
.book_description {
  margin: 40px 30px;
  h4 {
  font-family: 'Montserrat', 'sans-serif';
  font-style: normal;
  font-weight: 600;
  }
  p {
    width: 100%;
    @include mixins.adaptiv-font(20, 16);
    padding: 10px 0;
    max-height: 300px;
    overflow: auto;
    line-height: 1.2;
  }
  .to_books {
    display: block;
    float: left;
    margin: 20px;
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgb(174, 203, 193);
    &:hover {
      background-color: rgb(225, 93, 111);
    }
  }
}
@media (max-width: 768px) {
  .book_wrapper {
    grid-template-areas: "img price"
                         "about about";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    .book_about_wrapper {
      grid-area: about;
    }
    .book_cover {
      grid-area: img;
    }
    .book_about_price {
      grid-area: price;
    }
  }
}
@media (max-width: 493px) {
  .book_wrapper {
    grid-template-areas: "img"
                         "price"
                         "about";
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto;
  }
}