@use "./mixins";

.bucket_wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  .btn_purchase {
    display: block;
    float: right;
    margin: 20px;
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgb(155, 149, 149);
    &:hover {
      background-color: rgb(225, 93, 111);
    }
  }
  .empty_bucket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    svg {
      fill: rgb(122, 118, 118);
      width: 80px;
      height: auto;
    }
    p {
      @include mixins.adaptiv-font(20, 14);
      font-weight: 600;
    }
  }
}