@use "./mixins";

.bucket_wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  .btn_purchase {
    display: block;
    float: right;
    margin: 20px;
    padding: 10px 15px;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgb(155, 149, 149);
    &:hover {
      background-color: rgb(225, 93, 111);
    }
  }
  .empty_bucket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    svg {
      fill: rgb(122, 118, 118);
      width: 80px;
      height: auto;
    }
    p {
      @include mixins.adaptiv-font(20, 14);
      font-weight: 600;
    }
  }
  .no_empty_bucket {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    border: 1px solid black;
    @include mixins.adaptiv-font(20, 14);
    .book_add {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
      width: 100%;
      padding: 15px;
      h3 {
        width: 60%;
      }
      span {
        width: 20%;
      }
      p {
        width: 20%;
      }
    }
    .btn_remove {
      display: block;
      padding: 10px 15px;
      font-weight: 600;
      border-radius: 5px;
      background-color: rgb(219, 211, 211);
      @include mixins.adaptiv-font(20, 14);
      &:hover {
        background-color: rgb(225, 93, 111);
      }
    }
  }
  .total_price {
    display: block;
    float: right;
    padding-top: 20px;
    font-weight: 600;
    @include mixins.adaptiv-font(20, 14);
  }
}
@media (max-width: 405px) {
  .bucket_wrapper .no_empty_bucket .book_add {
    flex-direction: column;
    align-items: flex-start;
    h3 {
      width: 100%;
    }
    span {
      width: 100%;
    }
    p {
      width: 100%;
    }
  }
}