@use "./mixins";

.error {
  @include mixins.flex-center;
  .login_header {
    align-self: flex-start;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px 0;
    margin-bottom: 50px;
    width: 100%;
    font-weight: 700;
  }
  img {
    width: 70%;
  }
  h1 {
    @include mixins.adaptiv-font(80, 45);
    font-weight: 700;
    line-height: 1.2;
    color: rgb(225, 93, 111);
    margin: 10px;
  }
  p {
    color: #000;
    font-weight: 700;
    line-height: 1.2;
    @include mixins.adaptiv-font(24, 18);
  }
  a {
    margin-top: 15px;
    white-space: nowrap;
    text-decoration: none;
    button {
      padding: 0px 30px;
      font-size: 16px;
      height: 50px;  
      background: transparent;
      border: 1px solid #b4b4b4;
      font-weight: 500;
      border-radius: 10px;
      background-color: rgb(211, 204, 204);
      &:hover {
        background-color: rgb(225, 93, 111);
      }  
    }
  }
}