@use "./mixins";

.login_form {
  @include mixins.flex-center;
  gap: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 30px 0 100px;
  .login_header {
    align-self: flex-start;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px 0;
    margin-bottom: 50px;
    width: 100%;
    font-weight: 700;
  }
  .user_login {
    border-radius: 5px;
    border: 1px solid black;
    width: 160px;
    height: 148px;
    display: flex;
    padding-top: 12px;
  }
  .form {
    @include mixins.flex-center;
    padding-top: 20px;
    gap: 20px;
    width: 100%;
    label {
      font-weight: 600;
      @include mixins.adaptiv-font(20,15);
    }
    input {
      width: 100%;
      max-width: 200px;
      height: 40px;
      border-radius: 10px;
      text-align: center;
      padding: 0;
    }
    .login_submit {
      width: 100%;
      @include mixins.flex-center;
      text-decoration: none;
      input[type=submit] {
        background-color: rgb(211, 204, 204);
        font-weight: 600;
        &:hover {
          background-color: rgb(225, 93, 111);
        }
      }
    }
    small {
      color: red;
      @include mixins.adaptiv-font(14,12);
      align-self: center;
    }
  }
}
@media (max-width: 320px) {
  .login_form {
    padding: 10px 8px;
    .user_login {
      width: 200px;
      height: 188px;
    }
    .form input, input[type=submit] {
    max-width: calc(100% - 8px);
    max-width: 100%;
    }
  }
}