@use "./mixins";

.login_form {
  @include mixins.flex-center;
  gap: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 30px 0 100px;
  .login_header {
    align-self: flex-start;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px;
    margin-bottom: 50px;
    width: 100%;
    font-weight: 700;
    background-color: rgb(31, 143, 145);
  }
  .user_login {
    border-radius: 5px;
    border: 1px solid black;
    width: 160px;
    height: 148px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    .user_icon {
      width: 80%; 
      height: auto;
    }
  }
  .form {
    @include mixins.flex-center;
    padding-top: 20px;
    gap: 20px;
    width: 100%;
    label {
      font-weight: 600;
      @include mixins.adaptiv-font(20,15);
    }
    input {
      width: 100%;
      max-width: 200px;
      height: 40px;
      border-radius: 10px;
      text-align: center;
      padding: 0;
    }
    .login_submit {
      width: 100%;
      max-width: 200px;
      height: 40px;
      border-radius: 10px;
      text-align: center;
      padding: 0;
      background-color: rgb(174, 203, 193);
      font-weight: 600;
      &:hover {
        background-color: rgb(225, 93, 111);
      }
    }
    small {
      color: red;
      @include mixins.adaptiv-font(14,12);
      align-self: center;
    }
  }
}
@media (max-width: 320px) {
  .login_form {
    padding: 0;
    .user_login {
      width: 200px;
      height: 188px;
    }
    .form input {
      max-width: calc(100% - 8px);
    }
  }
  .login_form .form .login_submit {
    max-width: calc(100% - 8px);
  }
}